APP_NAME="Gazoma Pay"
APP_ENV=local
APP_URL=http://localhost:8000
APP_SECRET=gzm_secret_key_change_me
PAYMENT_MODE=sandbox

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=gazoma_pay
DB_USER=root
DB_PASS=

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=null
MAIL_PASS=null
MAIL_FROM_ADDRESS=noreply@gazomapay.com
MAIL_FROM_NAME="Gazoma Pay"
